doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body.indigo.lighten-5
		header
			.navbar-fixed
				nav
						.nav-wrapper.teal.darken-3
							a.brand-logo.center(href="#") Profile
							ul#nav-mobile.right.hide-on-med-and-down
								li
									a.btn(href="/timeline") Timeline
									a.btn(href="/logout") Log out
		.row
			#sidebar.col.s3.teal.lighten-4
				button.waves-effect.waves-light.btn.modal-trigger.center-align(href="#newpost" data-target="newpost") NEW POST
				#newpost.modal
					.modal-content
						h4 Write a new post
						form(action='/timeline/new', method='POST', autocomplete='off')
							.row
								.input-field
									i.material-icons.prefix short_text
									input#icon_prefix(type="text" name="title")
									label(for="icon_prefix") Title
							br
							.row
								.input-field
									i.material-icons.prefix subject
									input#icon_prefix.materialize-textarea(type="textarea" name="body")
									label(for="icon_prefix") Message
							button.modal-action.waves-effect.waves-green.btn(type="submit" name="submit") POST
				p Welcome to your profile page, #{user.firstname} #{user.lastname}
				br
				p This is your information:
				p Email: #{user.email}
				p Password: #{user.password}
				br
				a.btn(href='/logout') LOG OUT
			#posts.col.s9
				ul
					each post in postsList
						each user in usersList
							if post.userId === user.id
								.row
									.eachpost.card.blue-grey.darken-1
										.card-content.white-text
											a(href="/deletePost/" + post.id)
												i.material-icons.white-text.right delete
											span.card-title #{post.title}
											p#by by #{user.firstname} #{user.lastname}
											blockquote #{post.body}
											.commentBox.card-action
												each comment in post.comments
													each user in usersList
														if comment.userId === user.id
															.comment
																p.chip#chip #{user.firstname} #{user.lastname} 
																p #{comment.comment}
												br
												form(action='/addComment', method='POST', autocomplete='off')
													.row
														.input-field.col.s9
															i.material-icons.prefix.white-text mail_outline
															input#icon_prefix(type="text" name="comment")
															label.white-text(for="icon_prefix") Leave a comment:
															input(type="hidden" name="postId" value=post.id)
														button.modal-action.waves-effect.waves-green.btn.col.s3(type="submit" name="submit") POST
		footer.page-footer
			.footer-copyright.teal.darken-3
				.container
					p © 2017 Copyright All rights reserved enzo
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
